In [65]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

music_data = pd.read_csv('MusicPreference.csv') 
music_data

    Age  Gender      Genre
0     1      20    Hip Hop
1     1      23    Hip Hop
2     1      25    Hip Hop
3     1      26       Jazz
4     1      29       Jazz
5     1      30       Jazz
6     1      31  Classical
7     1      33  Classical
8     1      37  Classical
9     0      20      Dance
10    0      21      Dance
11    0      25      Dance
12    0      26   Acoustic
13    0      27   Acoustic
14    0      30   Acoustic
15    0      31  Classical
16    0      34  Classical
17    0      35  Classical

In [66]:
#Creating an input dataset that only contains the intended input (age and gender)
input_data = music_data.drop(columns = ['Genre'])
input_data

    Age  Gender
0     1      20
1     1      23
2     1      25
3     1      26
4     1      29
5     1      30
6     1      31
7     1      33
8     1      37
9     0      20
10    0      21
11    0      25
12    0      26
13    0      27
14    0      30
15    0      31
16    0      34
17    0      35

In [67]:
#Creating the output dataset that contains the output column (genre)
output = music_data['Genre']
output

0       Hip Hop
1       Hip Hop
2       Hip Hop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: Genre, dtype: object

In [70]:
#building the model with the DTC algorithm

model = DecisionTreeClassifier
model.fit(input_data, output)

model.predict([ [21, 0], [22, 0] ])

TypeError: fit() missing 1 required positional argument: 'y'